<a href="https://colab.research.google.com/github/Manu-Gr/Python/blob/main/Hypothesis_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import the libraries
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

# Super Market example

In [2]:
stats.t.cdf(2.23,df=79)

0.9857070911974259

# Call Center example

In [15]:
 #For  Day 10
T10 = (4-4.6)/(3/np.sqrt(50))
 T10

-1.4142135623730943

In [18]:
p10= 2*stats.t.cdf(T10,df=49)
p10

0.16362201811838478

In [ ]:
alpha = 0.05
Since p10 is Greater than Alpha
There is no need to take action or in other words we stick with Null Hypothesis

In [12]:
# Day 1

#Mean = 4
#Sample mean = 3.7
#Std deviation = 3

T1 = (3.7-4.6)/(3/np.sqrt(50))
T1

-2.1213203435596415

In [19]:
p1 = 2*stats.t.cdf(-2.121,df=49)
p1

0.03900633891587792

In [ ]:
Since p1 is less than 0.05
On Day 1 we reject Null Hypothesis i.e we agree to go for alternate hypothesis
So on day 1 we need to take action

# One tail test

In [ ]:
data=pd.Series([0.593, 0.142, 0.329, 0.691, 0.231, 0.793, 0.519, 0.392, 0.418])

In [ ]:
#This gives two tail test p value so divide by 2 to get final p-value
p=scipy.stats.ttest_1samp(data,0.3)[1]
p_value= p/2

# Two Tail test

In [ ]:
Control=pd.Series([91, 87, 99, 77, 88, 91])
Treat =pd.Series([101, 110, 103, 93, 99, 104])

In [ ]:
stats.ttest_ind( control,Treat)

Ttest_indResult(statistic=-3.445612673536487, pvalue=0.006272124350809803)

# 2 Proportion Test

In [ ]:
import numpy as np

In [ ]:
#Data:

n1 = 247
p1 = .37

n2 = 308
p2 = .39

In [ ]:
population1 = np.random.binomial(1, p1, n1)
population2 = np.random.binomial(1, p2, n2)

In [ ]:
population1.mean()

0.3765182186234818

In [ ]:
population2

array([0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1])

In [ ]:
import statsmodels.api as sm
sm.stats.ttest_ind(population1, population2)

(-0.08077226810317804, 0.9356522859099397, 553.0)