<a href="https://colab.research.google.com/github/Manu-Gr/Python/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
calif = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [9]:
type(calif)

pandas.core.frame.DataFrame

In [10]:
calif.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [14]:
# To get a csv as a series element 

calif = pd.read_csv('/content/sample_data/california_housing_test.csv',usecols=['longitude'], squeeze= True)

In [15]:
calif

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64